/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Marvel);
@import url(https://fonts.googleapis.com/css?family=Armata|Anton|Audiowide|Dosis|Bangers|Pacifico);



.page-wrapper{
  margin: 0 auto;
  width: 1200px;
  min-height:380px;
  -webkit-box-shadow: 3px 11px 52px -1px rgba(0,0,0,0.64);
  -moz-box-shadow: 3px 11px 52px -1px rgba(0,0,0,0.64);
  box-shadow: 3px 11px 52px -1px rgba(0,0,0,0.64);
  margin-bottom: 150px;
  background-image: url(../im/road.png);
  background-repeat: no-repeat;
  position: relative;
}

h1{
    font-family: 'Pacifico', cursive;
    font-weight:  100;
    color: whitesmoke;
    height: 80px;
    margin-left: 4.5%;
    font-size: 3em;
    padding-top: 20px;
    margin-top: 40%;
    position: absolute;
    color: rgba(211, 84, 0, 0.8);  
}

.intro{
  position: relative;
  padding-top: 5%;
}
.intro h2{
  margin-top: 100px;
  margin-left: 55%;
  color: white;
  width: 5%;
  position: absolute; 
}
.summary{
  position: absolute;
  margin-left: 70%;
  width: 400px;
  margin-top: 80px;
  padding-bottom: 900px;
  font-family: monospace;
}
.summary p {
  color: bisque;
  background: rgba(0, 54, 54, 0.5);
  color: white;
  width: 300px;
  padding: 30px;
}
header h2{
  margin-top: -40px;
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.preamble{
 margin-top: -20px;
}
.preamble h3{
  background: rgba(200, 54, 54, 0.5);
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 2em;
  letter-spacing: 5px;
  font-weight: lighter;
}

.preamble h3{
  background: rgba(200, 54, 54, 0.5);
  padding: 20px;
}
.preamble p{
   font-family: 'Dosis', sans-serif;
   color: bisque;
}
 .preamble p:nth-child(2){
    background: rgba(200, 54, 54, 0.5);
    width: 50%;
    padding: 5px;
    padding-left: 20px;
 }
  .preamble p:nth-child(3){
    background: rgba(200, 54, 54, 0.5);
    width: 50%;
    padding: 5px;
    padding-left: 20px;
 }
  .preamble p:nth-child(4){
    background: rgba(200, 54, 54, 0.5);
    width: 50%;
    padding: 5px;
    padding-left: 20px;
 }

.supporting {
    font-size: 1em;
    padding: 30px;
    margin-top: 90px;
    font-size: 1em;
    padding: 30px;
    background-image: url(../im/wood.png);
    background-position: center top 20%;
    background-repeat: no-repeat;
}

.explanation {
  margin-left: 35%;
  padding: 30px;
}
.participation {
  margin-left: 35%;
  padding: 30px;
}
.benefits {
  margin-left: 35%;
  padding: 30px;
}
.requirements {
  padding: 30px;
}

footer{
  text-align: center;
}
footer a{
  background-color: black;
  padding: 15px;
  font-size: 2em;
  color: white; 
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color: inherit;
}

#zen-supporting  h3{
  font-family: 'Marvel', sans-serif;
  font-size: 2em;
  text-decoration: none;
  width: 500px;
}
#zen-supporting  p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

/*SideBar*/

.sidebar {
     position: absolute;
    top: 35.7%;
    width: 27%;
    margin-left: 2.5%;
    padding: 30px;
    background: rgba(192, 57, 43,0.8);
    color: white;
    overflow: auto;
    z-index: 2;
        
}
sidebar .designer-name{
  font-family:  cursive;
  font-size: 0.5em;
}


.sidebar ul{
  list-style-type: none;  
}

.design-selection{
  font-family: 'Marvel', sans-serif;
  font-size: 1.3em;
  text-decoration: none;
}

.designer-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  text-decoration: none;
  text-align: right;
}

.design-archives{
  font-family: 'Marvel', sans-serif;
  font-size: 1.4em;
  text-decoration: none;
}

.zen-resources{
  font-family: 'Marvel', sans-serif;
  font-size: 1.4em;
  text-decoration: none;
}

li
{
  background-image: url(../im/star.jpg);
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 1.2em;
}

  #zen-participation{
  background: rgba(200, 54, 54, 0.7);
  color: white;
  }
  
   #zen-benefits{
    background: rgba(20, 54, 54, 0.8);
    color: white;
    margin-top: 10px;
  }
  
   #zen-explanation{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-left: 35%;
    font-size: 1em;
    padding: 30px;
    margin-top: -89px;

  }
  
  #zen-requirements{
  background: rgba(211, 84, 0, 0.8);
  color: white;
  margin-top: 10px;
  }