body {



 font-family: 'Alegreya Sans SC', sans-serif;
 background-repeat: no-repeat;

 
}


h1{
  position: relative;
  padding-top: 2%;
  text-align:center;
  font-family: 'Alegreya Sans SC', sans-serif;
  
  font-size: 2.5em;
  
}
.page-wrapper{


  margin: 0 auto;
    /* Location of the image */
  background-image: url(../images/bighead.svg), url(../images/strip1.svg);
  width: 1200px;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, -290px 450px;
  
  min-height:380px;
  
  -webkit-box-shadow: 3px 11px 52px -1px rgba(0,0,0,0.64);
  -moz-box-shadow: 3px 11px 52px -1px rgba(0,0,0,0.64);
  box-shadow: 3px 11px 52px -1px rgba(0,0,0,0.64);
}
  
.explanation {
  margin-left: 30%;
  font-size: 1em;
  padding: 30px;
}
.participation {
  margin-left: 30%;
  padding: 30px;
}
.benefits {
  margin-left: 30%;
  padding: 30px;
}
.requirements {
  margin-left: 30%;
  padding: 30px;
}
.preamble {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

h2 {

font-size: 2.4em;
font-family: 'Alegreya Sans SC', sans-serif;
margin-left: 35%;
margin-top: 40px;
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);


}
@media only screen and (max-width: 320px) {

   body { font-size: 2em; }

}

.summary {
 
    font-size: 1em;
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 25%;
    margin-left: 2%;  
    margin-top: -8.5%;
}

.summary :nth-child(2){
  color: antiquewhite;
  transform: skew(-20deg, -10deg);
  
}

.summary :nth-child(2) a{
  color: antiquewhite;
  transform: skew(-20deg, -10deg);
  
}

#zen-supporting{
  width: 1200px;
  background-repeat: no-repeat;
  min-height:380px;
}


.sidebar {
	position: absolute;
	top: 445px;
	width: 15%;
	padding: 30px;
      margin: 0px 0px 5px 0px;  
      overflow: auto;
      z-index: 2;
      background-color: green;
}

.sidebar .designer-name{
  font-family:  cursive;
  font-size: 0.8em;
  
  
}

.sidebar ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: red;
}

.sidebar h3{
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 1.2em
}

.sidebar li{
    background: #f68712;
    padding: 10px;

}
.sidebar li:nth-child(odd){
    background: #fbbc09; 
    padding: 10px;

}

.sidebar li a{
    color: black

}
