body {
 font-family: 'Alegreya Sans SC', sans-serif;

}

h3{
  font-size: 1.5em
}

h1{
  position: relative;
  padding-top: 2%;
  text-align:center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.5em;
  
}
.page-wrapper{
  margin: 0 auto;
  background-image: url(../images/bighead.svg), url(../images/strip1.svg);
  width: 1200px;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, -290px 450px;
  min-height:380px;
  -webkit-box-shadow: 3px 11px 52px -1px rgba(0,0,0,0.64);
  -moz-box-shadow: 3px 11px 52px -1px rgba(0,0,0,0.64);
  box-shadow: 3px 11px 52px -1px rgba(0,0,0,0.64);
  margin-bottom: 200px;
  
}
  
.explanation {
  margin-left: 35%;
  font-size: 1em;
  padding: 30px;
  border: 2px,  aqua color;
  border-left: 1px;
  border-left-color: black;
}
.participation {
  margin-left: 35%;
  padding: 30px;
}
.benefits {
  margin-left: 35%;
  padding: 30px;
}
.requirements {
  margin-left: 35%;
  padding: 30px;
}
.preamble {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

h2 {

font-size: 2.4em;
font-family: 'Alegreya Sans SC', sans-serif;
margin-left: 35%;
margin-top: 40px;
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);
}

.summary {
 
    font-size: 1em;
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 25%;
    margin-left: 2%;  
    margin-top: -8.5%;
}

.summary :nth-child(2){
  color: antiquewhite;
  transform: skew(-20deg, -10deg);
  
}

.summary :nth-child(2) a{
  color: antiquewhite;
  transform: skew(-20deg, -10deg);
  
}

#zen-supporting{
  width: 1200px;
  background-repeat: no-repeat;
  min-height:380px;
}


.sidebar {
	position: absolute;
	top: 445px;
	width: 1200px;
	padding: 30px;
      margin: 0px 0px 5px 0px;  
      overflow: auto;
      z-index: 2;
      
}

.wrapper{
	width: 30%
      
}

.sidebar .designer-name{
  font-family:  cursive;
  font-size: 0.8em;
  
  
}

.sidebar ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-image: url(../images/wipe.png)
  
}

.sidebar h3{
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 1em;

}

.sidebar li{
    background: rgba(185, 147, 108, 0.5);
    padding: 10px;

}
.sidebar li:nth-child(odd){
   background: rgba(215, 129, 44, 0.5);
   padding: 10px;

}

.sidebar li a{
    color: aliceblue

}
footer{
  text-align: center;
}
footer a{
  background-color: black;
  padding: 15px;
  font-size: 2em;
  color: white;
  
  margin-bottom: 10px;
}

